*.unityproj
*.booproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.csproj
*.bak

*/.svn/
.svn/
bin/
Bin/
obj/

--外层
/.idea/
/Bin/

--unity层
/Unity/.idea/*
/Unity/HuatuoData/*
/Unity/Library/*
/Unity/Logs/*
/Unity/obj/*
/Unity/Packages/*
/Unity/Temp/*
/Unity/UserSettings/*
/Unity/ProjectSettings/*
/Unity/Assets/StreamingAssets/*

--server层
!/Server/App/Server.App.csproj
!/Server/Hotfix/Server.Hotfix.csproj
!/Server/Model/Server.Model.csproj
/Server/App/obj/*
/Server/Hotfix/obj/*
/Server/Model/obj/*

--thirdParty层
!/ThirdParty/ETTask/ETTask.csproj
!/ThirdParty/ShareLib/ShareLib.csproj
!/ThirdParty/UnityEngine/UnityEngine.csproj
/ThirdParty/UnityEngine/obj/*

--tools层
!/Tools/Analyzer/Analyzer.csproj
