
*.unityproj
*.booproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.csproj
*.bak

--外层
/.idea/
/Bin/

--unity层
/Unity/HuatuoData/*
/Unity/Library/*
/Unity/Logs/*
/Unity/obj/*
/Unity/Packages/*
/Unity/Temp/*
/Unity/UserSettings/*
/Unity/ProjectSettings/*
/Unity/Assets/StreamingAssets/*


