/.vs/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/.idea/
/[Ll]ogs/
/.bak/

*.unityproj
*.booproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.csproj

//华佗专属
/HuatuoData/huatuo_repo/*
/HuatuoData/il2cpp_huatuo_repo/*
/HuatuoData/LocalIl2CppData/*

/Packages/*
/Unity/UnityPackageManager/*
/Unity/Assets/StreamingAssets/*


